body{
    background-color:blue;
}

h1{
    color:purple;
    
}

nav{
    margin-bottom: 100px;
}

.dot {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  color: #fff;
  line-height: 55px;
  text-align: center;
   }

.description{
    font-size: 10px;
    font-style: italic;
}
.data{
    font-size: 20px;
}

  .legend{
      display:flex;
      justify-content: space-between;
  }